* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: url('https://st2.depositphotos.com/1430176/5430/v/950/depositphotos_54307961-stock-illustration-doodle-food-icons-seamless-background.jpg');
}

@keyframes slide{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.container {
  max-width: 300px;
  padding: 30px;
  margin: auto;
  margin-top: 5%;
  animation: slide 2s forwards ease;
  background: #7950f2;
  opacity: 0;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.container,
h1 {
  margin-bottom: 20px;
}

h1{
    font-variant: small-caps;
    color: white;
    text-align: center;
}

.numbers {
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
  padding: 13px;
  border-radius: 15px;
  border: 2px solid #5f3dc4;
  transition: .5s;
}

.numbers:focus {
  outline: none;
}

.numbers:hover, .numbers:focus{
    transform: scale(1.1);
    border: 2px solid #5f3dc4;
}

.escolhas, label{
  margin-top: 30px;
  color: white;
  font-weight: 600;
}

.button1{
  margin-top: 40px;
}

button {
  padding: 10px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 50px;
  transition: 300ms;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  color: white;
  width: 100%;
}

button:hover {
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  transform: scale(1.1);
}

.imagem1{
  position: relative;
  top: 5px;
  left: 5px;
}

.imagem2{
  position: relative;
  right: 1px;
  top: 3px;
}

#resultado {
  margin-top: 9px;
  animation: slide 2s forwards;
}

p {
  margin-top: 15px;
  color: white;
  font-weight: 600;
  text-align: center;
}
